.dashboard {
    padding-top: 40px;
    width: 80%;
    margin: 0 auto;

    &-lists {
        h2 {
            font-size: 38px;
        }

        &__not-found {
            display: flex;
            justify-content: center;
            gap: 20%;
            margin-top: 5%;
        }
    }
}