.my-list {
    width: 70%;
    margin: 60px auto;
    background: #fff;
    border-radius: 30px;

    &__header {
        padding: 30px 40px 30px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        &--users {
            display: flex;

            p {
                background: rgb(117,85,206);
                background: linear-gradient(90deg, rgba(117,85,206,1) 0%, rgba(140,156,247,1) 100%);
                width: 32px;
                height: 32px;
                text-align: center;
                line-height: 1.3;
                padding: 5px;
                border: 1px solid #c3c3c3;
                border-radius: 20px;
                font-size: 16px;
                font-weight: 700;
                color: #fff;
                pointer-events: none;
                
                &:not(:first-child) {
                    margin-left: -5px;
                }
            }
        }
    }

    &__content { 
        table {
            width: 100%;
            border-spacing: 0;

            thead {
                tr {
                    td {
                        border-bottom: 1px solid #EEEEEE;
                        padding: 0 40px 10px;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        border-bottom: 1px solid #EEEEEE;
                        padding: 10px 40px;
                    }
                }
            }
        }

        &--price {
           color: #40c16752; 
           
           &.active {
               color: #40c167;
            }
            
            svg {
               transition: .2s ease-in-out;

                &:hover {
                    color: #40c167;
                    cursor: pointer;
                }
           }

        }
    }

    &__footer {
        padding: 30px 40px 30px;

        &--buttons {
            display: flex;
            gap: 16px;
        }

        button {
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            padding: 14px 16px;
            border-radius: 4px;
            border: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 8px;
            -webkit-box-shadow: 0px 0px 5px -4px rgba(0,0,0,0.45);
            -moz-box-shadow: 0px 0px 5px -4px rgba(0,0,0,0.45);
            box-shadow: 0px 0px 5px -4px rgba(0,0,0,0.45);
            transition: .2s ease-in-out;
            
            &.c-success {
                background: #3742FA;

                &:hover {
                    background: #3741fab4;
                }
            }

            &.c-error {
                background: #fa3737;

                &:hover {
                    background: #fa3737b4;
                }
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}